<div class="container">
  <div class="header">
    <h2 class="padding-inline">{{ listName }}</h2>
    <div class="searchbar padding-inline">
      <input
        [(ngModel)]="searchItem"
        placeholder="search"
        type="text"
        (ngModelChange)="onSearchItem()"
      />
    </div>
    <div class="addbar padding-inline flex-between">
      <input [(ngModel)]="addItem" placeholder="add" type="text" />
      <button (click)="onAddItem(addItem)">Add</button>
    </div>
  </div>

  <div
    class="item padding-inline flex-between"
    *ngFor="let item of filteredList; let i = index; trackBy: trackByIdx"
  >
    <input
      [(ngModel)]="filteredList[i]"
      type="text"
      (focusout)="deleteIfEmpty(i)"
    />
    <button (click)="onDeleteItem(i)">
      <i class="fa-solid fa-trash"></i>
    </button>
  </div>
</div>
